body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



.orange-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    height: 500px;
}
.half-width img{
    width: 100%;}

.projects{
    width: 30%;
    float: left;
    padding: 20px;
    text-align: center;
    }

    .link-button{
        background-image: linear-gradient(45deg,   lightsalmon, tomato);
        text-decoration: none;
        font-weight: 700;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
    }
.projects img {
    width:100%;
    }
.keyword-1{
    text-align: center;
    margin-top: 3px;
    padding: 5px;
    
}

.inquiry img{
    position: relative;
    width: 600px;
    height: 150px;
}
.inq-text{
    position: absolute;
    top: 8px;
    left: 16px;
}

.container {
    position: relative;
    text-align: center;
    color: black;
  }

.text-left {
    position: absolute;
    bottom: 70px;
    left: 400px;
    color: white;
    font-weight: 700;
    font-size: 25px;
  }

 .text-right {
    position: absolute;
    bottom: 70px;
    right: 400px;
  }
