.orange-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    height: 500px;
}
.half-width img{
    width: 100%;}

.projects{
    width: 30%;
    float: left;
    padding: 2px;
    }
.projects img {
    width:100%;
    }
.keyword-1{
    text-align: center;
    margin-top: 3px;
    padding: 5px;
}